xmlcodes/stock.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="stock">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="new-car" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="model" type="xs:string"/> 
                            <xs:element name="price" type="xs:positiveInteger"/>
                        </xs:sequence>
                    </xs:complexType>

                </xs:element>
            
            <xs:element name="used-car" minOccurs="0" 
                        maxOccurs="unbounded"> 
            <xs:complexType> 
            <xs:sequence> 
            <xs:element name="model" type="xs:string"/> 
            <xs:element name="price" type="xs:positiveInteger"/> 
            <xs:element name="mileage" type="xs:nonNegativeInteger" minOccurs="0"/> 
            <xs:element name="condition" type="xs:string" minOccurs="0"/> 
</xs:sequence> 
</xs:complexType> 
</xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>